@import "./prism-onedark.css";

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

:root {
    background-color: #1d1d1d;
    color: #fff;

    --accent-color: #F70;
    --content-area-color: #282c34;

    --border-radius: 30px;
    --title-size: 30px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

button {
    border-radius: 40px;
    background-color: var(--accent-color);

    border: 1px solid transparent;
    color: #FFF;

    padding: 12px 42px;

    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: var(--accent-color);
}

button:focus,
button:focus-visible {
    border: 1px solid var(--accent-color);
    /*outline: 4px auto -webkit-focus-ring-color;*/
}

.pane {
    background-color: var(--content-area-color);
    border-radius: var(--border-radius);
    padding: 32px;

    margin: 0;

    width: 100%;
    min-height: 330px;
}

.editable {
    box-sizing: border-box;

    color: #fff;

    font-size: 15px;

    border: 2px solid transparent;

    resize: none;
}

.editable::placeholder {
    color: #fff;
}

.editable:focus {
    outline: none;
    border: 2px solid var(--accent-color);
}


.block + .block {
    margin-top: 32px;
}

.paragraph {
    margin-top: 36px;

    opacity: 0;
    transition: opacity 1s ease;
}

.paragraph.visible {
    opacity: 1;
}

.title {
    font-size: var(--title-size);
    font-weight: 600;

    text-align: left;

    margin-bottom: 16px;
}

.title.blinking {
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1; /* Текст видим */
    }
    50% {
        opacity: 0.2; /* Текст невидим */
    }
}


.title.fancy {
    background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.auto-width {
    width: auto;
}