@import "./prism-onedark.css";

body {
    font-family: -apple-system, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, 'Helvetica Neue', 'Helvetica', roboto, arial, sans-serif;
    font-weight: 590;

    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

:root {
    background-color: #18181a;
    color: #fff;

    --accent-color: rgb(255, 109, 46);
    --content-area-color: #282c34;

    --border-radius: 30px;
    --title-size: 30px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

button {
    border-radius: 16px;
    background-color: var(--accent-color);

    border: 1px solid transparent;
    color: #FFF;

    height: 60px;
    padding: 16px 32px;
    
    box-shadow: 0px 12px 28px 0px rgba(160, 42, 1, 0.23922);
    font-family: -apple-system, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, 'Helvetica Neue', 'Helvetica', roboto, arial, sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 590;
    line-height: 20px;
    cursor: pointer;
    transition: background-color 0.25s;
}

button:hover {
    opacity: 0.8;
}

button:focus,
button:focus-visible {
    opacity: 0.9;
    outline: none;
}

.pane {
    background-color: rgb(41, 41, 43);
    border-radius: var(--border-radius);
    padding: 32px;

    margin: 0;

    width: 100%;
    min-height: 330px;
}

.editable {
    box-sizing: border-box;

    color: #fff;

    font-size: 15px;

    border: 2px solid transparent;

    resize: none;
}

.editable::placeholder {
    color: #fff;
}

.editable:focus {
    outline: none;
    border: 2px solid var(--accent-color);
}

.paragraph {
    opacity: 0;
    transition: opacity 1s ease;
}

.paragraph.visible {
    opacity: 1;
}

.title {
    font-size: var(--title-size);

    text-align: left;

    margin-bottom: 16px;
}

.title.blinking {
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1; /* Текст видим */
    }
    50% {
        opacity: 0.2; /* Текст невидим */
    }
}


.title.fancy {
    background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.auto-width {
    width: auto;
}